src/node_classification_magnet.py
src/sparse_Magnet_modificato.py
processed/
raw/
variant_for_test/
logs/
data/
result_arrays/
result_arrays_sign/
.vscode/
.ipynb_checkpoints/

*.ipynb
*.zip
*.tar
generative_graph/
link_prediction_command/

tmp_data/

*.pyc
*.pk
