src/node_classification_magnet.py
src/sparse_Magnet_modificato.py
src/link_prediction_SigMaNet.py
src/link_prediction_synthetic_data_SigMaNet.py
src/link_prediction_synthetic_data.py
src/link_prediction.py
src/link_sign_prediction.py
src/node_classification.py
src/node_classification_SigMaNet.py
src/sparse_Magnet_modificato.py